:root {
  --secondary-title-color: #757575;
  --background-color: #2f303a;
  --button-cursor-color: #2196f3;
  --secondary-background-color: #ffffff;
  --indent: 30px;
  --items: 3;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, Verdana, sans-serif;
  color: #212121;
}

.upper-title {
  margin-bottom: 50px;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__items {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-style: none;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.btn:focus, .btn:hover {
  cursor: pointer;
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #000000;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__icon {
  fill: currentColor;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.header__contact:hover, .header__contact:focus {
  color: var(--button-cursor-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--button-cursor-color);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
  background-color: #2196F3;
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/herobg.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/herobg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 216px;
  min-height: 50px;
  padding: 8px 30px;
}

.benefits {
  padding-top: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: auto;
}

.benefits__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__icon--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__paragraph {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.about__item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-backdrop-filter: 2px;
          backdrop-filter: 2px;
}

.overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  --items: 4;
}

.team__item {
  background: var(--secondary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__paragraph {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__icon--white {
  background-color: #FFFFFF;
  color: #AFB1B8;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.socials__icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 93px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), border-color var(--anim-fast);
  transition: color var(--anim-fast), border-color var(--anim-fast);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: rgb(33, 150, 243);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--white {
  color: #ffffff;
}

.footer__list {
  width: 231px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__adres {
  color: #ffffff;
}

.footer__join {
  margin-left: 70px;
  padding-top: 12px;
}

.footer__icon--grey {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.subscribe__email {
  -ms-flex-preferred-size: 358px;
      flex-basis: 358px;
  color: #FFFFFF;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.subscribe__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  min-height: 50px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), background var(--anim-fast), border-radius var(--anim-fast), cursor var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background var(--anim-fast), border-radius var(--anim-fast), cursor var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background var(--anim-fast), box-shadow var(--anim-fast), border-radius var(--anim-fast), cursor var(--anim-fast);
  transition: color var(--anim-fast), background var(--anim-fast), box-shadow var(--anim-fast), border-radius var(--anim-fast), cursor var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.filter__btnfirst {
  padding: 6px 25px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  --items: 3;
}

.portfolio__item {
  background: var(--secondary-background-color);
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__item:hover .portfolio__overlay {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__detail {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: o;
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn__icon {
  fill: rgb(0, 0, 0);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.close-btn__icon:hover {
  fill: #2196F3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.modal__label {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  outline-offset: -1px;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
}
.modal__form-field:focus {
  border: 1px solid #2196F3;
}

.modal__form-field:focus + .modal__form-icon {
  fill: #2196F3;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.modal__form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
}
.modal__form-message:focus {
  border: 1px solid #2196F3;
}
.modal__form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
}

.modal__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal__form-agreement-desc {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__form-agreement-link {
  color: #2196F3;
  text-underline-offset: 3px;
}

.modal__form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: outline-color var(--anim-fast), background-color var(--anim-fast);
  transition: outline-color var(--anim-fast), background-color var(--anim-fast);
}
.modal__form-checkbox:checked {
  outline-color: #2196F3;
  background-color: #2196F3;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}/*# sourceMappingURL=main.css.map */