.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  } 

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  } 
}

.benefits__list {
  margin: auto;
}

.benefits__item {

  --items:1;
   align-items: center;

  @media screen and (min-width:768px) {
    --items:2;  
  }

  @media screen and (min-width:1200px) {
    --items:4;
  }
}

.benefits__icon {
}

.benefits__icon--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  
  background-color: #F5F4FA;
  border-radius: 4px;

  @media screen and (min-width:768px) {
    max-width: 354px;  
  }

  @media screen and (min-width:1200px) {
    max-width: 270px;
  }

}

.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__paragraph {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}