.clients {
  @include section;
}

.clients__title { 
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__item {
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 93px;

  color: #AFB1B8;

  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition: color var(--anim-fast), border-color var(--anim-fast);

  &:hover,
  &:focus {
    color: #2196F3;
    border-color: rgba(33, 150, 243, 1);
    }
}

.clients__icon {
  fill: currentColor;
}