.overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  backdrop-filter: 2px;
}

.overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}