.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: color var(--anim-fast), background-color var(--anim-fast);

  &:hover,
  &:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    }
}


.socials__icon {
  fill: currentColor;
}