:root {
  --secondary-title-color: #757575;
  --background-color: #2f303a;
  --button-cursor-color: #2196f3;
  --secondary-background-color: #ffffff;
  --indent: 30px;
  --items: 3;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
